.carousel {
    margin: 0 auto;
    max-width: 60%;
    color: #fff;
    margin-bottom: 70px;
}
.carousel  h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10%;
}

.text-valores{
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border: none;
}

.atitude-de-dono {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(20\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

.determinacao {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(21\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

.disciplina {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(22\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

.disponibilidade {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(23\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

.franqueza {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(24\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

.humildade {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(25\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

.simplicidade {
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../imgs/img-sobre-nos/assets/imgs/valores/MicrosoftTeams-image\ \(26\).png');
    background-size: cover;
    background-position: center center;
    height: 60vh;
    border: none;
}

@media only screen and (min-width: 1024px) {
    .carousel {
        max-width: 90%;
        margin-bottom: 100px;
    }
    .text-valores p{
    line-height: 20px;
    }

    p {
    font-size: 18px;
    }

    .carousel h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10%;
    }
}