/*MAIN*/
html{
    scroll-behavior: smooth;

}

/* width */

::-webkit-scrollbar {

    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(219, 220, 223);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #7174ff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e3092;
    transition: ease-in-out;
    border-radius: 10px;
}

body {
    line-height: 125%;
    font-family: 'Montserrat', sans-serif;
    line-height: 125%;
}

main {
    z-index: 0;
}

a {
    text-decoration: none;
}

#title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(../imgs/img-contato/assets/backgrounds/Messias\ Ferreira.JPG);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.donate {
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600; 

}

.btn-mais {
    display: block;
    margin: 0;
    background: transparent;
    color: #fff;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.container0 {
    background-color: #fff;
}

.is-dark {
    filter: invert(80%);
}

#container-doações {
    display: block;
}

.seta {
    display: none;
}

.doacao {
    display: flex;
    flex-direction: column;
    border: 2px solid #1F1F1F;
    width: 90px;
    height: 150px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 10px;
    color: #000;
    padding: 10px 25px;
    font-size: 11px;
    text-align: center;
    line-height: 125%;
}

#doacoes {
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code{
    display: block;
    margin: auto 0;
    width: auto;
    height: max-content;
    margin-top: 15px;
}

#alinhar {
    display: block;
    margin: 0;
    margin-left: 20px;
    transform: translateY(40%);
}

.dono {
    padding: 50px ;
}

.doações {
    font-size: 15px;
    font-weight: 500;
    line-height: 125%;
}

.btn-doar {
    background: #4335E7;
    color: #fff;
    border: 1px solid #7174ff;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-weight: 500;
    padding: 5px;
    margin-top: 20px;
}

.container-fale > h1{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 30px;
}

.container-2 {
    background-color: white;
    color: #1F1F1F;
}

.container-2 > div > p{
    color: #1F1F1F
}

.map {
    height: 50vh;
    width: 100%;
}

.contact-us {
    background-color: #1F1F1F;
    height: 70vh;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.container1 {
    display: block;
}

.contact-us > div > h1 {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
}

.contact-us h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 500;
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact-us p {
    font-size: 15px;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.flex-input {
    display: flex;
}

.flex-forms .input{
    width: 100%;
    margin-right: 10px;
}
.input-message {
    width: 90%;
    height: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    background-color: #4d4d4d;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

input::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.formulario button {
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #4d4d4d;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}

.formulario button:hover {
    color: white;
    background: #3f3f3f;
    border: 2px solid #3f3f3f;
}

.container0 {
    padding: 40px 20px;   
}

.etica > h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.etica p {
    font-size: 15px;
    margin-bottom: 20px;
}

.textos {
    border: 2px solid #1F1F1F;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1F1F1F;
    transition: all 0.4s ease-in-out;
    margin-bottom: 10px;
    text-align: center;
}

.textos:hover {
    border: 2px solid #1F1F1F;
    background-color: #1F1F1F;
    color: white;
}

.grid-textos {
    display: block;
    margin: auto;
}

.container-doar{
    display: block;
    margin: auto;
    font-size: 18px;
    margin-bottom: 10px;
    height: fit-content;
    padding: 0px;
}

.doacao {
    margin: 20px auto 20px;
    font-size: 15px;
    width: 200px;
    height: 310px;
}

.container-2 > div > h1{
    font-size: 25px;
    padding-bottom: 20px;
    text-align:left; 
    font-weight: 600;
    text-transform: uppercase;
}

.donate-text {
    display: block;
    margin: auto;
    text-align: left;
    padding-bottom: 15px;
}

.container-2 {
    padding: 40px 20px;
}

@media only screen and (min-width: 1024px) {
    #main {
        font-size: 18px;
        line-height: 125%;
    }

    #container-doar {
        display: grid;
        grid-template-columns: repeat(3, 350px);
    }

    .orange {
        background: #EF6421;
    }

    #container-doações {
        display: none;
    }

    #title {
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
    }

    .donate {
        margin-top: 100px;
        font-size: 60px;
        line-height: 125%;
        font-weight: 600;
        align-items: none;
        justify-content: none;
        padding: 0;
    }

    .donate > h1 {
        line-height: 125%;
        font-size: 50px;
    }

    .donate > h2 {
        font-size: 60px;
    }

    .btn-mais {
        width: 300px;
        height: 50px;
        font-size: 30px;
        border: 3px solid white;
        transition: all .4s ease-in-out;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 25px;
        font-weight: 500;
    }

    .btn-mais:hover {
        background:white;
        color: #1F1F1F;
    }

    #alinhar {
        display: block;
        margin: 0;
        margin-left: 60px;
        transform: translateY(15%);
    }

    .seta {
        display: block;
        margin: auto;
        width: 50px;
        height: 40px;
        padding: 50px;
        cursor: pointer;
    }

    .map {
        height: 85vh;
        width: 50%;
    }

    .contact-us {
        background-color: #1F1F1F;
        height: 70vh;
        width: 50%;
        color: white;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .container1 {
        display: flex;
        flex-direction: row;
    }

    .contact-us > div > h1 {
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 35px;
        font-weight: 700;
    }

    .contact-us h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-family: 500;
        margin-top: 40px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .contact-us p {
        font-size: 18px;
        margin-top: 10px;
    }

    .bold {
        font-weight: bold;
    }

    .flex-input {
        display: flex;
    }

    .flex-forms .input{
        width: 100%;
        margin-right: 10px;
    }
    .input-message {
        width: 95%;
        height: 10vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input {
        background-color: #4d4d4d;
        border: none;
        border-radius: 10px;
        padding: 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        outline: none;
    }

    input::placeholder{
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .formulario button {
        padding: 5px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #4d4d4d;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid white;
        border-radius: 10px;
        font-weight: 600;
        transition: all 0.4s ease-in-out;
    }

    .formulario button:hover {
        color: white;
        background: #3f3f3f;
        border: 2px solid #3f3f3f;
    }

    .container0 {
        padding: 70px 40px;   
    }

    .etica > h2 {
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .etica p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .textos {
        border: 2px solid #1F1F1F;
        height: 20vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #1F1F1F;
        transition: all 0.4s ease-in-out;
    }

    .textos:hover {
        border: 2px solid #1F1F1F;
        background-color: #1F1F1F;
        color: white;
    }

    .grid-textos {
        display: grid;
        grid-template-columns: repeat(4, 310px);
        text-align: center;
        align-items: center;
        justify-self: center;
        gap: 10px;
    }

    .container-doar{
        display: flex;
        font-size: 18px;
        flex-direction: row;
        margin-bottom: 10px;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .doacao {
        margin: 20px auto 20px;
        font-size: 18px;
        width: 230px;
        height: 380px;
    }

    .qr-code {
        width: auto;
        height: max-content;
    }

    .container-doando {
        margin: none;
    }

    .donate-text {
        font-size: 18px;
        margin: 10px;
        margin-bottom: 50px;
    }

    .container-2 > div > h1{
        color: #1F1F1F;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-size: 35px;
        padding-top: 10px;
    }

    .donate-text {
        width: 80%;
        display: block;
        margin: auto;
        text-align: center;
    }

    .doacoes-mobile {
        display: none;
    }
}